# ==========================================================
# Git
# ==========================================================

.git
.gitignore

# ==========================================================
# Python
# ==========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================================
# Virtual Environment
# ==========================================================

.venv/
venv/

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# TensorFlow Model
# ==========================================================

models/

# ==========================================================
# OS
# ==========================================================

Thumbs.db
.DS_Store